.container {
    display: flex;
}

.barplots {
    display: flex;
    flex-direction: column;
}

.axis-title {
    font-weight: 700;
  }

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 13px;
    font-weight: 300;
    padding: 8px;
    min-width: 100px;
    color: #333;
}

.tooltip-title {
color: #000;
font-size: 13px;
font-weight: 300;
}