body {
    font-family: sans-serif;
}
h1 {
    text-align: center;
    padding-bottom: 50px; 
}
h4 {
    font-weight: 200;
    font-style: italic;
    padding-left: 35px;
}
.filters {
    display: flex;
}

.container {
    display: block;
}

.barplots-1 {
    display: flex;
}

.barplots-2 {
    display: flex;
}

.axis-title {
    font-weight: 700;
}

.legend-title {
    font-weight: 700;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 13px;
    font-weight: 300;
    padding: 8px;
    min-width: 100px;
    color: #333;
}

.tooltip-title {
color: #000;
font-size: 13px;
font-weight: 300;
}

/* Annotations */
.personality-line {
    stroke: #333;
    shape-rendering: crispedges;
    stroke-width: 3px;
}

.personality-label {
fill: #333;
font-size: 15px;
font-weight: 700;
}